*{
    background-color: rgb(26, 210, 112);
    font-family: monospace;
    padding: 0;
    margin: 0;
}
#greetings, ::selection, ::marker{
    color: black;
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    background-color: rgb(26, 210, 112);
}
.auto-type{
    color: #a62d17;
    font-weight: 100;
}
#information, ::selection, ::marker{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0%;
    letter-spacing: 0%;
}
.grid-cintainer{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 150px);
    padding: 100px;
    text-align: center;
    column-gap: 120px;
    row-gap: 10px;
    justify-content: center;
}
.grid-item,::selection, ::marker{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15cap;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    background-color: transparent;
    outline: none;
}
.popup{
    width: 800px;
    position: fixed;
    background: rgb(26, 210, 112);
    color: rgb(13, 157, 3);
    border-radius: 50px;
    border: 1px solid  rgb(0, 0, 0) ;
    text-align: center;
    top: 50%;
    left: 50%;
    box-shadow: 1px 0px 20px rgb(11, 97, 31);
    border: 5px black;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}
.popup:target{
    visibility: visible;
    opacity: 1;
}
.popup img{
    border-radius: 100%;
    background:rgb(13, 51, 37);
    padding: 40px;
    height: 120px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    box-shadow: 1px 0px 20px rgb(11, 97, 31);
    border: 0.5px black;
}
.popup .close{
    font-size: 20px;
    cursor: pointer;
    position: initial;
    text-decoration: none;
    background-color: rgb(13, 157, 0);
    border: 0.5px black;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.popup pre{
    color: black;
    display: block;
    font-size: large;
    text-align: left;
    margin: 2%;
    margin-left: 8%;
    max-height: fit-content;
}
.grid-item .linkText, .linkText:visited, .linkText:active{
    color: black;
    text-decoration: none;
}
.grid-item .linkText:hover{
    color: #a62d17;
    text-decoration: underline .5px solid #a62d17;
}
